body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #999999;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 40px;
}

header h1 {
    font-size: 50px;
    margin-bottom: 16px;
}

header a {
    color: #666666;
    margin-right: 16px;
    text-decoration: none;
}


